@{
	ViewData["Title"] = "Hakkımızda - Kliko";
}

<div class="container bg-light bg-gradient p-5 m-2">
	<h1>@ViewData["Title"]</h1>
	<div class="row"></div>
	<div class="col-4 py-3">
		<h2>🎮 1.Samimi ve Modern Tarz:</h2>
		<p>Kliko, tutkulu oyuncular için kuruldu. Klavye tıklamalarından gelen heyecanın, ışıklı mouse pad'lerin ruhunu anlıyoruz. Uygun fiyat, yüksek performans ve stil sahibi tasarımlar sunuyoruz. Oyunun kurallarını sen koy, biz yanında olalım.</p>
	</div>
	<div>
	<div class="col-4 py-3">
	<h2>🧠 2.Güven ve Kalite Odaklı:</h2>
	<p>Kliko, oyun dünyasında kaliteyi ulaşılabilir kılmak için yola çıktı. Her seviyeden oyuncuya hitap eden ekipmanlarımızla, sadece oyunda değil, rekabette de fark yaratmanı sağlıyoruz. Dayanıklılık, performans ve estetik… Hepsi bir arada.</p>
	</div>
		<div class="col-4 py-3">
	<h2>⚡3.Genç ve Dinamik Vibe:</h2>
			<p>Oyun senin için bir tutkuysa, Kliko tam senlik! RGB ışıklar, hızlı tepkiler, ergonomik tasarımlar… Kliko olarak, her tuşta seni daha da ileri taşımayı hedefliyoruz. Hazırsan, oyuna birlikte dalalım!</p>
		</div>
</div>