@model IEnumerable<Category>

<style>
    .dropdown-menu.mega-menu {
        width: 600px;
        max-width: 100vw;
        padding: 1rem 1.5rem;
    }
    .mega-menu .category-col {
        min-width: 180px;
    }
    .mega-menu .dropdown-header {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
</style>

<div class="dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="kategorilerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Kategoriler
    </a>
    <div class="dropdown-menu mega-menu" aria-labelledby="kategorilerDropdown">
        <div class="row">
            @foreach (var anaKategori in Model.Where(c => c.ParentId == 0 && c.IsActive && c.IsTopMenu))
            {
                <div class="col category-col">
                    <div class="dropdown-header">@anaKategori.Name</div>
                    <ul class="list-unstyled mb-0">
                        @foreach (var altKategori in Model.Where(c => c.ParentId == anaKategori.Id && c.IsActive))
                        {
                            <li>
                                <a class="dropdown-item py-1" href="/Categories/Index/@altKategori.Id">@altKategori.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
