
<div class="container bg-secondary-subtle">
    <footer class="py-5">
        <div class="row border-top">
            <div class="col-6 col-md-3 mb-3">
                <h5>Bize Ulaşın</h5>
                <p>
                    <i class="bi bi-geo-alt"></i> Levent Şube: Levent, Çarşı Cd. No:30, 34335 Beşiktaş/İstanbul
                </p>
                <p>
                    <i class="bi bi-geo-alt"></i> Beyoğlu Şube: Gümüşsuyu, Osmanlı Sk. No:2, 34049 Beyoğlu/İstanbul
                </p>
                <p>
                    <i class="bi bi-envelope-at"></i> kliko@info.com
                </p>
                <p>
                    <i class="bi bi-telephone"></i> +90 212 555 55 55
                </p>
            </div>

            <div class="col-6 col-md-2 mb-3 offset-md-2">
                <h5>Kurumsal</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-house"></i> Anasayfa</a></li>
                    <li class="nav-item mb-2"><a asp-controller="Anasayfa" asp-action="About" class="nav-link p-0 text-body-secondary"><i class="bi bi-blockquote-left"></i> Hakkımızda</a></li>
                    <li class="nav-item mb-2"><a asp-controller="Anasayfa" asp-action="Contact" class="nav-link p-0 text-body-secondary"><i class="bi bi-chat-dots"></i> İletişim</a></li>
                </ul>
            </div>

            <div class="col-md-4 offset-md-1 mb-3">
                <form>
                    <h5><i class="bi bi-envelope-at"></i> E Bülten Aboneliği</h5>
                    <p>Aylık kampanyalarımıza önce siz ulaşın.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email</label>
                        <input id="newsletter1" type="email" class="form-control" placeholder="Email">
                        <button class="btn btn-primary text-nowrap" type="button">Abone Ol</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2025 Kliko,Tüm Hakları Saklıdır.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#" aria-label="Instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#" aria-label="Facebook">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#" aria-label="X">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>