@model Orders

@{
    ViewData["Title"] = "Sipariş Düzenle";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" type="datetime"/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" type="number"/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Adress" class="control-label"></label>
                <textarea asp-for="User.Adress" class="form-control"></textarea>
                <span asp-validation-for="User.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isActive" class="control-label"></label>
                <input asp-for="isActive" class="form-control" />
                <span asp-validation-for="isActive" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
